<header class="header">
  <div class="header-information">
    <p>{{ currentDate }}</p>
    <span *ngIf="!theme" (click)="switchTheme()"
      ><p>DARK</p>
      <mat-icon fontIcon="dark_mode"></mat-icon
    ></span>
    <span *ngIf="theme" (click)="switchTheme()"
      ><p>LIGHT</p>
      <mat-icon fontIcon="light_mode"></mat-icon
    ></span>
  </div>
  <div class="input-container">
    <input
      type="text"
      placeholder="Aufgabe eintragen..."
      [(ngModel)]="todoInput"
    />
    <button (click)="addTodo()">ToDo+</button>
  </div>
</header>
