@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

$base-blue: #4951de;
$light-blue: #8b90ea;
$gray-blue: #eff0fc;
$dark-blue: #090b32;
$gray: #939394;
$alert-red: #de4951;

html {
  font-size: 15px;
}

body {
  background-color: $gray-blue;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
